In [ ]:
#adarsh yerneni



list=[]                                                                 #question1
n = int(input("enter the number of elements to be entered: "))
for x in range(1,n+1):
    num = int(input("enter number: "))
    list.append(num)
    list.sort()
print(f"the sum of all the elements is {sum(list)}")
print(f"the average of all elements is {sum(list)/len(list)}")

enter the number of elements to be entered: 4
enter number: 32
enter number: 67
enter number: 1
enter number: 54
the sum of all the elements is 154
the average of all elements is 38.5

In [9]:
print(f"the largest element is {list[-1]}")

the largest element is 67

In [10]:
print(f"the smallest number is {list[0]}")

the smallest number is 1

In [13]:
list.count(67) , list.count(32)

(1, 1)

list

In [2]:
#question2
my_tuple = (1, 2, 3, 4, 5)

try:
    
    my_tuple[0] = 10
except TypeError as e:

    print("Error:", e)
    print("Explanation: Tuples are immutable, which means their elements cannot be changed after they are created.")

Error: 'tuple' object does not support item assignment
Explanation: Tuples are immutable, which means their elements cannot be changed after they are created.

In [2]:
#question3

world_cup_winners = {
    1975: "West Indies",
    1979: "West Indies",
    1983: "India",
    1987: "Australia",
    1992: "Pakistan",
    1996: "Sri Lanka",
    1999: "Australia",
    2003: "Australia",
    2007: "Australia",
    2011: "India",
    2015: "Australia",
    2019: "England"
}
frequency={}
for country in world_cup_winners.values():
    if country in frequency:
        frequency[country]+=1
    else:
        frequency[country]=1
max_occurences=0
most_occurring_country=None
for country,count in frequency.items():
    if count>max_occurences:
        max_occurences=count
        most_occurring_country=country

most_occurring_country

'Australia'

In [6]:
#question 4
sentence=str(input("enter a sentence: "))
frequency={}
for word in sentence.split():
    if word in frequency:
        frequency[word]+=1
    else:
        frequency[word]=1
frequency

enter a sentence:  hey hey hey how are youuu

{'hey': 3, 'how': 1, 'are': 1, 'youuu': 1}

In [5]:
#question 5
set1 = set(map(int,input("enter numbers: ").split()))
set2 = set(map(int,input("enter numbers again: ").split()))

enter numbers:  12 21 12
enter numbers again:  2

In [6]:
set1 & set2

set()

In [7]:
set1 | set2

{2, 12, 21}

In [8]:
set1-set2

{12, 21}